@{
    ViewData["Title"] = "Wypożyczalnia IT";
}

<div class="text-center">
    <h1 class="display-4">Witamy w wypożyczalni sprzętu IT</h1>
    <p>Co byś dzisiaj chciał wyporzyczyć?</p>
    <a asp-controller="Home" asp-action="CreateRental" class="btn btn-secondary">Wynajmij</a>
    <div class="mt-4">
    </div>

</div>